{% extends "notes.html" %} 
{% load crispy_forms_tags %}

{% block title %} Upload files {% endblock %} 

{% block content %}

<div class="container-fluid shadow p-4 mb-5" style="width: 70%; overflow-y: auto; height: 90%;">
  <form action="/upload_file" method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  <p style="color:#007FFF">Upload file here:</p>
  {{ form|crispy }}
  <br>
  <button class="btn btn-success btn-sm">Upload</button>
  <a href="/notes" class="btn btn-outline-danger btn-sm">Cancle</a>
</form>
</div>

{% endblock %}